<body class="grey lighten-1">

  <h3 class="grey-text text-darken-3" id="evidencia">
    GA6-240201529-AA3-EV01
  </h3>

  <div>
    <div class="card grey lighten-4" id="card">
        
    <nav class="black" id="nav">
        <div class="nav-wrapper" id="nav-wrapper">
          <ul id="nav-mobile" class="hide-on-med-and-down">

            <li><a class="waves-effect waves-light btn black white-text" href="https://angular.dev/">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-display-fill" viewBox="0 0 16 16">
                <path d="M6 12q0 1-.25 1.5H5a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-.75Q10 13 10 12h4c2 0 2-2 2-2V4c0-2-2-2-2-2H2C0 2 0 4 0 4v6c0 2 2 2 2 2z"/>
              </svg></a></li>

            <li><a class="waves-effect waves-light btn black white-text" href="https://nodejs.org/en">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-check-fill" viewBox="0 0 16 16">
                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 4.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
              </svg></a></li>

            <li><a class="waves-effect waves-light btn black white-text" href="https://www.mongodb.com/es/lp/cloud/atlas/try4?utm_source=google&utm_campaign=search_gs_pl_evergreen_atlas_core_prosp-brand_gic-null_amers-co_ps-all_desktop_es-la_lead&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=20745580680&adgroup=156970815322&cq_cmp=20745580680&gad_source=1&gclid=EAIaIQobChMIxt6kl9KrhgMVzZ5aBR2LTA6nEAAYASAAEgJJ9PD_BwE">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-database-fill" viewBox="0 0 16 16">
                <path d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223"/>
                <path d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                <path d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                <path d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
              </svg></a></li>

            <li><a class="waves-effect waves-light btn black white-text" href="https://github.com/julianandresgonzalezgarcia/GA6-240201529-AA3-EV01">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
            </svg></a></li>
            
          </ul>
        </div>
      </nav>

      <div class="card-content" id="card-content">

        <div id="card-content-inside-left">

          <div style="margin: 14px;">
            <a (click)="ListarProducto()" class="white black-text waves-effect btn" id="boton-nuevo">
              <i class="material-icons left">loop</i>Listar</a>
          </div>

          <input [(ngModel)]="textoBusqueda" name="textoBusqueda" value="Alvin" id="buscar" type="text" autocomplete="off">

          <div style="margin: 14px;">
            <a (click)="BuscarProducto(textoBusqueda)" class="white black-text waves-effect btn" id="boton-buscar">
              <i class="material-icons left">search</i>
              Buscar
            </a>
          </div> 

          <div style="margin: 14px;">
            <a (click)="ModalCrearProducto()" class="white black-text waves-effect btn" id="boton-nuevo">
              <i class="material-icons left">add</i>
              Nuevo
            </a>
          </div> 
                       
        </div>
      


        <div id="card-content-inside-right">

          <div>
            <div id="data-producto-area">
              <div class="card-content" style="padding: 0%;">
                <h1 id="h1-title-data-producto-area">
                  Productos:
                </h1>
                <h1 id="h1-length-data-producto-area">
                  {{servicio.productos.length}}
                </h1>

                <div id="data-producto-area-details">

                  <div id="data-producto-area-details-info">
                    <p><b>Nombre: </b>{{producto.nombre}}</p>
                    <p><b>Categoria: </b>{{producto.categoria}}</p>
                    <p><b>Precio: </b>{{producto.precio}}</p>
                    <p><b>Stock: </b>{{producto.stock}}</p>                    
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div id="content-area-table">   

            <table class="highlight">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Opciones</th>
                </tr>
              </thead>

              <tbody>

                <tr *ngFor="let producto of servicio.productos">
      
                  <td style="width: 260px;">
                    <input style="border: none;" value="{{producto._id}}" id="_id" type="text" class="validate" disabled autocomplete="off">
                    <!--<label class="active" for="_id">ID</label>-->
                  </td>
      
                  <td style="width: 210px;">
                    <input style="border: none;" [(ngModel)]="producto.nombre" name="nombre" value="{{producto.nombre}}" id="nombre" type="text" autocomplete="off">
                    <!--<label class="active" for="nombre">Nombre</label>-->
                  </td>
      
                  <td  style="width: 190px;">
                    <input style="border: none;" [(ngModel)]="producto.categoria" name="categoria" value="{{producto.categoria}}" id="categoria" type="text" autocomplete="off">
                    <!--<label class="active" for="categoria">Categoria</label>-->
                  </td>
    
                  <td  style="width: 120px;">
                    <input style="border: none;" [(ngModel)]="producto.precio" name="precio" value="{{producto.precio}}" id="precio" type="number" autocomplete="off">
                    <!--<label class="active" for="precio">Precio</label>-->
                  </td>
    
                  <td style="width: 100px;">
                    <input style="border: none;" [(ngModel)]="producto.stock" name="stock"  value="{{producto.stock}}" id="stock" type="number" autocomplete="off">
                    <!--<label class="active" for="stock">Stock</label>-->
                  </td>

                  <td>
                    <a class="waves-effect waves-light btn-flat" [matMenuTriggerFor]="menu"><i class="material-icons">delete</i></a>
                    <mat-menu #menu="matMenu">
                      <a mat-menu-item class="white btn" style="margin-top: -8px;"><i class="material-icons right">close</i>Cerrar</a>
                      <a (click)="EliminarProducto(producto._id)" mat-menu-item class="red darken-1 btn white-text" style="margin-bottom: -8px;"><i class="material-icons right">delete</i>Borrar</a>
                    </mat-menu>     

                    <a class="waves-effect waves-light btn-flat" (click)="ActualizarProduct(producto._id, producto)"><i class="material-icons">update</i></a>

                  </td>

                </tr>
                
              </tbody>
            </table>

          </div>  

        </div>

      </div>
    </div>    
  </div>       


  <router-outlet></router-outlet>

</body>


